<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/styles.css">
    <title>{{title}}</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by <a href="https://github.com/kylepasague">{{name}}</a>. It uses data from <a href="https://www.mapbox.com/">Mapbox</a> and <a
                href="https://weatherstack.com/">Weatherstack</a></p>
        <img class="portrait" src="./img/bmo.png" alt="" srcset="">
    </div>
    {{>footer}}
</body>

</html>